{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Dave</title>
    <link rel="stylesheet" href="{% static 'css/thankyou.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-187955508-1">
    </script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-187955508-1');
    s</script>

    <!-- Global site tag (gtag.js) - Google Ads: 438831248 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-438831248"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-438831248');
    </script>

    <!-- Event snippet for Website lead conversion page -->
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-438831248/z_soCKWZj_IBEJCRoNEB'});
    </script>

  </head>
  <body>
    <div class="center container-fluid">
      <div class="row">
        <div class="col-12"><h1>Thank You for registration</h1></div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>You will get updates about webinar through WhatsApp</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="">
            <a href="https://t.me/joinchat/I72GjQL8GD6P3gBq">
              <button class="join">Join our Telegram community</button>
            </a>
          </div>
          Digital Dave
        </div>
      </div>
    </div>
  </body>
  </body>
</html>
